@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    background-color: rgb(255, 187, 127);
    border-color: black;
}

.custom-shadow-color {
    filter: drop-shadow(1px 10px 15px rgba(19, 198, 85, 0.868)); /* Màu xanh dương nhạt */
}


.textarea-wrapper {
    position: relative;
    width: 100%; /* Chiều rộng container */
  }
  
  .textarea-label {
    position: absolute;
    top: -2px; /* Đặt trên đường border */
    left: 20px; /* Khoảng cách bên trái */
    background-color: white; /* Giữ label nổi trên border */
    padding: 0 5px; /* Thêm khoảng trắng hai bên */
    font-size: 1rem; /* Cỡ chữ tiêu đề */
    color: #555; /* Màu chữ */
  }
  
  .textarea-field {
    width: 100%;
    height: 120px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    font-size: 1rem;
    resize: none; /* Tắt khả năng resize nếu cần */
    outline: none;
    margin-top: 10px;
  }
  
