@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    background-color: rgb(255, 187, 127);
    border-color: black;
}

.custom-shadow-color {
    filter: drop-shadow(1px 10px 15px rgba(19, 198, 85, 0.868)); /* Màu xanh dương nhạt */
}
